*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width:100%;
    min-height: 100vh;
    display: flex;
    font-family: 'Poppins';
    align-items: center;
    justify-content:center ;
    background-color: #011526;
}

.loading {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border: 8px dotted #76aad8;
    border-top-color: #bbc7d1;
    border-right-color: aliceblue;
    border-radius: 50%;
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    to{
      transform: rotate(1turn);
    }
  }
  
  #logo.unimapper{
    height: 10000px;
    left: 37px;
    top: 304px;
    width: 3028px;

  }
 