body {
  font-family: 'Poppins';
  align-items: center;
  background-color: #01192D;
}

h1 {
  text-align: center;
  width: 273px;
  margin-left: 49px;
  color: aliceblue;
  font-size: 14px;
  margin-top: -8px;
}


.box {
  position: relative;
  width: 96px;
  height: 32px;
}

.box .group {
  position: absolute;
  top: 28px;
  left: 133px;
}

.box .frame {
  left: 0;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
}

.box .vector-wrapper {
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
}

.box .vector {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 12px;
  left: 12px;
}

.box .img-wrapper {
  left: 64px;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
}

@media (max-width: 500px) {

  img.img1 {
    margin-left: 20px;
    width: 91%;
    margin-top: -32px;
  }

  div.perdido {
    margin-top: 21px;
    margin-left: 29px;
    width: 63%;
  }

  img.setinha1 {
    width: 41px;
    margin-bottom: 20px;
    margin-left: 275px;
    padding-top: 20px;
  }

  h1.perdido {
    width: 271px;
    font-size: 26px;
    margin-top: -30px;
    margin-bottom: -19px;
    text-align: center;
    margin-left: 21px;
  }



}