body {
    min-height: 110vh;
    font-family: 'Poppins';
    align-items: center;
    background-image: linear-gradient(to bottom, #011526,#0C4F87);
}


h1 {
    text-align: center;
    color: aliceblue;
}


h1.seuap{
    margin-top: -20px;
    padding-top: -20px;
    margin-bottom: 20px;
    font-family:'PoppinsItalic';
    font-size: 12px;
}
div.bolinhas{
    padding-left: 400px;
    width: 200px;
}
.frame {
    position: relative;
    width: 32px;
    height: 32px;
  }
  
.frame .vector {
    position: absolute;
    width: 12px;
    height: 22px;
    top: 40px;
    left: 30px;
  }
 
 .text-wrapper {
    width: 260px;
    top: 90px;
    font-family: "Poppins";
    font-weight: 500;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 17px;
  }
  
  .text-wrapper2 {
    width: 100px;
    font-family: "Poppins";
    color: #ffffff;
    font-size: 20px;
   margin-left: 195px;
    line-height: 33px;
  }

/* Botão */
.buttom{
    
    padding-left: 42px;
}
.button-49{
    object-fit: cover;
    width: 84%;
    line-height: 46px;
    font-size: 15px;
    font-family: 'PoppinsItalic';
    background:#011526;
    border-radius: 14px;
    border-color: #0C4F87;
    color: #fff;
    letter-spacing: 2px;
    box-shadow: 2px 2px 2px 2px #07121b;
    
}



