body {
    min-height: 100vh;
    display: flex;
    font-family: 'Poppins';
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #011526,#0C4F87);
}

h1 {
    text-align: center;
    color: aliceblue;
}

div.gpsfatec {
    font-family: 'PoppinsItalic';
    font-size: 8px;
    margin-bottom: 50px;
}

div.bolinhas {
    padding-left: 400px;
    width: 200px;
}

div.buttom {
    margin-left: 50px;
}
